-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: turf_db
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=109 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_adminuser`
--

DROP TABLE IF EXISTS `core_adminuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_adminuser` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(10) NOT NULL,
  `password` varchar(255) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `phone` (`phone`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_adminuser`
--

LOCK TABLES `core_adminuser` WRITE;
/*!40000 ALTER TABLE `core_adminuser` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_adminuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_appuser`
--

DROP TABLE IF EXISTS `core_appuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_appuser` (
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `id` char(32) NOT NULL,
  `name` varchar(100) NOT NULL,
  `email` varchar(254) NOT NULL,
  `mobile` varchar(15) DEFAULT NULL,
  `role` varchar(10) NOT NULL,
  `is_verified` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `retire` int NOT NULL,
  `retire_reason` longtext,
  `retire_requested_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_appuser`
--

LOCK TABLES `core_appuser` WRITE;
/*!40000 ALTER TABLE `core_appuser` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_appuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_appuser_groups`
--

DROP TABLE IF EXISTS `core_appuser_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_appuser_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `appuser_id` char(32) NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_appuser_groups_appuser_id_group_id_9dd619f6_uniq` (`appuser_id`,`group_id`),
  KEY `core_appuser_groups_group_id_c5624979_fk_auth_group_id` (`group_id`),
  CONSTRAINT `core_appuser_groups_appuser_id_30fc0cf3_fk_core_appuser_id` FOREIGN KEY (`appuser_id`) REFERENCES `core_appuser` (`id`),
  CONSTRAINT `core_appuser_groups_group_id_c5624979_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_appuser_groups`
--

LOCK TABLES `core_appuser_groups` WRITE;
/*!40000 ALTER TABLE `core_appuser_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_appuser_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_appuser_user_permissions`
--

DROP TABLE IF EXISTS `core_appuser_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_appuser_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `appuser_id` char(32) NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_appuser_user_permis_appuser_id_permission_id_fc19c23d_uniq` (`appuser_id`,`permission_id`),
  KEY `core_appuser_user_pe_permission_id_6e98a643_fk_auth_perm` (`permission_id`),
  CONSTRAINT `core_appuser_user_pe_appuser_id_33c0a7c0_fk_core_appu` FOREIGN KEY (`appuser_id`) REFERENCES `core_appuser` (`id`),
  CONSTRAINT `core_appuser_user_pe_permission_id_6e98a643_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_appuser_user_permissions`
--

LOCK TABLES `core_appuser_user_permissions` WRITE;
/*!40000 ALTER TABLE `core_appuser_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_appuser_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_booking`
--

DROP TABLE IF EXISTS `core_booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_booking` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `original_amount` decimal(10,2) NOT NULL,
  `advance_amount` decimal(10,2) NOT NULL,
  `service_charge` decimal(10,2) NOT NULL,
  `total_payable` decimal(10,2) NOT NULL,
  `total_price` decimal(10,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `vendor_status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` char(32) NOT NULL,
  `game_id` bigint NOT NULL,
  `turf_id` bigint NOT NULL,
  `user_email` varchar(254) DEFAULT NULL,
  `user_mobile` varchar(15) DEFAULT NULL,
  `user_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `core_booking_turf_id_9b03d617_fk_core_turf_id` (`turf_id`),
  KEY `core_booking_user_id_55d9bfa8_fk_core_appuser_id` (`user_id`),
  KEY `core_booking_game_id_749c5f45_fk_core_game_id` (`game_id`),
  CONSTRAINT `core_booking_game_id_749c5f45_fk_core_game_id` FOREIGN KEY (`game_id`) REFERENCES `core_game` (`id`),
  CONSTRAINT `core_booking_turf_id_9b03d617_fk_core_turf_id` FOREIGN KEY (`turf_id`) REFERENCES `core_turf` (`id`),
  CONSTRAINT `core_booking_user_id_55d9bfa8_fk_core_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_booking`
--

LOCK TABLES `core_booking` WRITE;
/*!40000 ALTER TABLE `core_booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_booking_slots`
--

DROP TABLE IF EXISTS `core_booking_slots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_booking_slots` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `booking_id` bigint NOT NULL,
  `slot_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_booking_slots_booking_id_slot_id_14086759_uniq` (`booking_id`,`slot_id`),
  KEY `core_booking_slots_slot_id_9d82971d_fk_core_slot_id` (`slot_id`),
  CONSTRAINT `core_booking_slots_booking_id_f4a3ed3f_fk_core_booking_id` FOREIGN KEY (`booking_id`) REFERENCES `core_booking` (`id`),
  CONSTRAINT `core_booking_slots_slot_id_9d82971d_fk_core_slot_id` FOREIGN KEY (`slot_id`) REFERENCES `core_slot` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_booking_slots`
--

LOCK TABLES `core_booking_slots` WRITE;
/*!40000 ALTER TABLE `core_booking_slots` DISABLE KEYS */;
INSERT INTO `core_booking_slots` VALUES (13,11,72),(14,12,72),(16,14,61),(22,19,25),(23,19,34),(24,19,43),(25,20,25),(26,20,34),(27,20,43),(29,22,144),(30,22,145),(31,22,146),(32,23,145),(33,23,146),(34,24,145),(35,24,146),(38,27,166),(41,30,47),(49,37,109),(50,38,111),(51,39,118),(63,50,25),(64,51,214),(65,52,214),(66,53,12),(67,54,12),(68,55,15);
/*!40000 ALTER TABLE `core_booking_slots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_cart`
--

DROP TABLE IF EXISTS `core_cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_cart` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `user_id` char(32) NOT NULL,
  `slot_id` bigint NOT NULL,
  `turf_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_cart_user_id_2ebeb843_fk_core_appuser_id` (`user_id`),
  KEY `core_cart_slot_id_d0b853d6_fk_core_slot_id` (`slot_id`),
  KEY `core_cart_turf_id_b7b1789e_fk_core_turf_id` (`turf_id`),
  CONSTRAINT `core_cart_slot_id_d0b853d6_fk_core_slot_id` FOREIGN KEY (`slot_id`) REFERENCES `core_slot` (`id`),
  CONSTRAINT `core_cart_turf_id_b7b1789e_fk_core_turf_id` FOREIGN KEY (`turf_id`) REFERENCES `core_turf` (`id`),
  CONSTRAINT `core_cart_user_id_2ebeb843_fk_core_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_appuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_cart`
--

LOCK TABLES `core_cart` WRITE;
/*!40000 ALTER TABLE `core_cart` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_contactmessage`
--

DROP TABLE IF EXISTS `core_contactmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_contactmessage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `subject` varchar(255) NOT NULL,
  `message` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_contactmessage`
--

LOCK TABLES `core_contactmessage` WRITE;
/*!40000 ALTER TABLE `core_contactmessage` DISABLE KEYS */;
INSERT INTO `core_contactmessage` VALUES (1,'mani','manipirama7@gmail.com','8925131591','other','user website is very nice','2026-05-27 05:55:22.357625'),(2,'MANICKA PREAM','piramanayagam96@gmail.com','09092648458','other','some','2026-06-01 09:48:51.349375'),(3,'MANICKA PREAM','piramanayagam96@gmail.com','09092648458','other','hi','2026-06-09 07:06:22.995892');
/*!40000 ALTER TABLE `core_contactmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_emailotp`
--

DROP TABLE IF EXISTS `core_emailotp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_emailotp` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(254) NOT NULL,
  `otp` varchar(6) NOT NULL,
  `is_verified` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_emailotp_email_20c81e6d` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_emailotp`
--

LOCK TABLES `core_emailotp` WRITE;
/*!40000 ALTER TABLE `core_emailotp` DISABLE KEYS */;
INSERT INTO `core_emailotp` VALUES (11,'admin@example.com','692469',0,'2026-06-09 07:46:54.595237'),(12,'testnewuser@example.com','761540',0,'2026-06-09 08:01:29.993473');
/*!40000 ALTER TABLE `core_emailotp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_event`
--

DROP TABLE IF EXISTS `core_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_event` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `category` varchar(50) NOT NULL,
  `location` varchar(255) NOT NULL,
  `address` longtext NOT NULL,
  `organized_by` varchar(200) NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `start_time` time(6) DEFAULT NULL,
  `end_time` time(6) DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `is_free` tinyint(1) NOT NULL,
  `image` varchar(100) DEFAULT NULL,
  `agenda` longtext NOT NULL,
  `vips` longtext NOT NULL,
  `status` varchar(20) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `bg_color` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `booked_seats` int NOT NULL,
  `total_seats` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_event`
--

LOCK TABLES `core_event` WRITE;
/*!40000 ALTER TABLE `core_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_eventreview`
--

DROP TABLE IF EXISTS `core_eventreview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_eventreview` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `rating` int NOT NULL,
  `text` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `event_id` bigint NOT NULL,
  `user_id` char(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `core_eventreview_event_id_0441b42c_fk_core_event_id` (`event_id`),
  KEY `core_eventreview_user_id_0fdf82bd_fk_core_appuser_id` (`user_id`),
  CONSTRAINT `core_eventreview_event_id_0441b42c_fk_core_event_id` FOREIGN KEY (`event_id`) REFERENCES `core_event` (`id`),
  CONSTRAINT `core_eventreview_user_id_0fdf82bd_fk_core_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_eventreview`
--

LOCK TABLES `core_eventreview` WRITE;
/*!40000 ALTER TABLE `core_eventreview` DISABLE KEYS */;
INSERT INTO `core_eventreview` VALUES (2,'mani',3,'hii','2026-06-01 11:03:49.749644',1,'72e411d9019f4fe28ac73b91731dbd9e');
/*!40000 ALTER TABLE `core_eventreview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_favoriteturf`
--

DROP TABLE IF EXISTS `core_favoriteturf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_favoriteturf` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `turf_id` bigint NOT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_favoriteturf_user_id_turf_id_73df0c40_uniq` (`user_id`,`turf_id`),
  KEY `core_favoriteturf_turf_id_a0ea42ec_fk_core_turf_id` (`turf_id`),
  CONSTRAINT `core_favoriteturf_turf_id_a0ea42ec_fk_core_turf_id` FOREIGN KEY (`turf_id`) REFERENCES `core_turf` (`id`),
  CONSTRAINT `core_favoriteturf_user_id_b89c25ef_fk_core_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_favoriteturf`
--

LOCK TABLES `core_favoriteturf` WRITE;
/*!40000 ALTER TABLE `core_favoriteturf` DISABLE KEYS */;
INSERT INTO `core_favoriteturf` VALUES (3,'2026-05-19 12:10:07.810051',1,'688399dcdfe244409473c260e83a7418'),(15,'2026-06-05 07:10:15.430216',7,'e1118ec4aa454e8db87cc5047ba601d1'),(33,'2026-06-05 10:04:35.091725',2,'688399dcdfe244409473c260e83a7418'),(46,'2026-06-05 14:17:45.064572',7,'75e586b0cbba40e4a133044303fbc08f'),(53,'2026-06-09 08:23:10.010333',10,'688399dcdfe244409473c260e83a7418'),(59,'2026-06-09 09:28:51.850925',10,'72e411d9019f4fe28ac73b91731dbd9e');
/*!40000 ALTER TABLE `core_favoriteturf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_game`
--

DROP TABLE IF EXISTS `core_game`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_game` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `game_name` varchar(100) NOT NULL,
  `price` int NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `turf_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_game_turf_id_30944ccd_fk_core_turf_id` (`turf_id`),
  CONSTRAINT `core_game_turf_id_30944ccd_fk_core_turf_id` FOREIGN KEY (`turf_id`) REFERENCES `core_turf` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_game`
--

LOCK TABLES `core_game` WRITE;
/*!40000 ALTER TABLE `core_game` DISABLE KEYS */;
INSERT INTO `core_game` VALUES (3,'[\"Kabaddi\"]',-2,'2026-05-20 10:18:13.107803',3),(4,'[]',0,'2026-05-20 10:27:53.604467',4),(6,'[\"Golf\"]',3,'2026-05-27 10:10:56.485507',6),(8,'Tennis',1,'2026-06-04 15:08:33.964339',2),(10,'Swimming',1,'2026-06-04 15:17:11.653863',5),(11,'[\"Kabaddi\"]',2,'2026-06-04 15:20:35.471196',7),(15,'[\"Kabaddi\"]',3,'2026-06-09 05:39:44.887529',8),(18,'[\"Cricket/Football\"]',0,'2026-06-09 11:25:35.553198',1),(19,'Kabaddi',1,'2026-06-09 11:41:27.548393',10),(20,'[\"Kabaddi\"]',10,'2026-06-16 07:06:12.908592',11);
/*!40000 ALTER TABLE `core_game` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_ground`
--

DROP TABLE IF EXISTS `core_ground`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_ground` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `game_type` varchar(50) NOT NULL,
  `turf_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_ground_turf_id_3a9105d7_fk_core_turf_id` (`turf_id`),
  CONSTRAINT `core_ground_turf_id_3a9105d7_fk_core_turf_id` FOREIGN KEY (`turf_id`) REFERENCES `core_turf` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_ground`
--

LOCK TABLES `core_ground` WRITE;
/*!40000 ALTER TABLE `core_ground` DISABLE KEYS */;
INSERT INTO `core_ground` VALUES (1,'Ground 1','',1),(2,'Ground 1','',2),(3,'Ground 1','',3),(4,'Ground 1','',4),(5,'Ground 1','',5),(6,'Ground 1','',6),(7,'Ground 1','',7),(8,'Ground 1','',8),(10,'Ground 1','',10),(11,'Ground 1','',11);
/*!40000 ALTER TABLE `core_ground` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_homepagebanner`
--

DROP TABLE IF EXISTS `core_homepagebanner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_homepagebanner` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `text` longtext NOT NULL,
  `button_text` varchar(50) NOT NULL,
  `image` varchar(100) NOT NULL,
  `link_path` varchar(200) NOT NULL,
  `priority` int NOT NULL,
  `category` varchar(200) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_homepagebanner`
--

LOCK TABLES `core_homepagebanner` WRITE;
/*!40000 ALTER TABLE `core_homepagebanner` DISABLE KEYS */;
INSERT INTO `core_homepagebanner` VALUES (3,'','tournments','Book Now','banners/marathon_qdIyDqL.jpg','/Bookhome',1,'all',1,'2026-06-01 09:58:21.037866'),(4,'Marthon','Cancer Awarness','Book','banners/american-soccer-stadium-imaginary-modelled-rendered-63205090.jpg','/tournaments',1,'all',1,'2026-06-05 09:33:50.598071'),(5,'KABBADI','Kabbadi Turf Place in TVL','Book Now','banners/b2.jpeg','/Bookhome',2,'all',1,'2026-06-09 06:40:13.524447');
/*!40000 ALTER TABLE `core_homepagebanner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_location`
--

DROP TABLE IF EXISTS `core_location`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_location` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_location`
--

LOCK TABLES `core_location` WRITE;
/*!40000 ALTER TABLE `core_location` DISABLE KEYS */;
INSERT INTO `core_location` VALUES (5,'Chennai'),(2,'Erode'),(4,'Karur'),(3,'Madurai'),(1,'Tirunelveli');
/*!40000 ALTER TABLE `core_location` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_loveadugalam`
--

DROP TABLE IF EXISTS `core_loveadugalam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_loveadugalam` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `core_loveadugalam_user_id_47090f48_fk_core_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_loveadugalam`
--

LOCK TABLES `core_loveadugalam` WRITE;
/*!40000 ALTER TABLE `core_loveadugalam` DISABLE KEYS */;
INSERT INTO `core_loveadugalam` VALUES (1,'2026-05-19 08:24:55.910733','688399dcdfe244409473c260e83a7418'),(2,'2026-06-01 06:49:09.262871','72e411d9019f4fe28ac73b91731dbd9e'),(3,'2026-06-04 08:35:46.180105','2eb03ab5fe524bc5a7293d832444b025'),(4,'2026-06-05 07:06:40.987124','e1118ec4aa454e8db87cc5047ba601d1'),(5,'2026-06-05 08:18:47.865123','75e586b0cbba40e4a133044303fbc08f');
/*!40000 ALTER TABLE `core_loveadugalam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_payment`
--

DROP TABLE IF EXISTS `core_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_payment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `razorpay_order_id` varchar(200) NOT NULL,
  `razorpay_payment_id` varchar(200) DEFAULT NULL,
  `razorpay_signature` varchar(300) DEFAULT NULL,
  `amount` int NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `booking_id` bigint NOT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `booking_id` (`booking_id`),
  KEY `core_payment_user_id_274e164a_fk_core_appuser_id` (`user_id`),
  CONSTRAINT `core_payment_booking_id_cf0dceaa_fk_core_booking_id` FOREIGN KEY (`booking_id`) REFERENCES `core_booking` (`id`),
  CONSTRAINT `core_payment_user_id_274e164a_fk_core_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_payment`
--

LOCK TABLES `core_payment` WRITE;
/*!40000 ALTER TABLE `core_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_peakhour`
--

DROP TABLE IF EXISTS `core_peakhour`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_peakhour` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `from_time` time(6) NOT NULL,
  `to_time` time(6) NOT NULL,
  `peak_price` int NOT NULL,
  `updated_time` datetime(6) NOT NULL,
  `game_id` bigint NOT NULL,
  `slot_id` bigint NOT NULL,
  `turf_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_peakhour_turf_id_slot_id_date_845cb4f0_uniq` (`turf_id`,`slot_id`,`date`),
  KEY `core_peakhour_game_id_6e01b161_fk_core_game_id` (`game_id`),
  KEY `core_peakhour_slot_id_8c5518eb_fk_core_slot_id` (`slot_id`),
  CONSTRAINT `core_peakhour_game_id_6e01b161_fk_core_game_id` FOREIGN KEY (`game_id`) REFERENCES `core_game` (`id`),
  CONSTRAINT `core_peakhour_slot_id_8c5518eb_fk_core_slot_id` FOREIGN KEY (`slot_id`) REFERENCES `core_slot` (`id`),
  CONSTRAINT `core_peakhour_turf_id_f9d2b4be_fk_core_turf_id` FOREIGN KEY (`turf_id`) REFERENCES `core_turf` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_peakhour`
--

LOCK TABLES `core_peakhour` WRITE;
/*!40000 ALTER TABLE `core_peakhour` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_peakhour` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_slot`
--

DROP TABLE IF EXISTS `core_slot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_slot` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `start_time` time(6) NOT NULL,
  `end_time` time(6) NOT NULL,
  `price` int NOT NULL,
  `is_available` tinyint(1) NOT NULL,
  `turf_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_slot_turf_id_486657b1_fk_core_turf_id` (`turf_id`),
  CONSTRAINT `core_slot_turf_id_486657b1_fk_core_turf_id` FOREIGN KEY (`turf_id`) REFERENCES `core_turf` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=259 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_slot`
--

LOCK TABLES `core_slot` WRITE;
/*!40000 ALTER TABLE `core_slot` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_slot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_turf`
--

DROP TABLE IF EXISTS `core_turf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_turf` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `location` varchar(255) NOT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `price_per_hour` int NOT NULL,
  `description` longtext,
  `games` json NOT NULL,
  `amenities` json NOT NULL,
  `features` json NOT NULL,
  `slots` json NOT NULL,
  `is_popular` tinyint(1) NOT NULL,
  `priority` int NOT NULL,
  `vendor_code` varchar(20) NOT NULL,
  `is_approved` tinyint(1) NOT NULL,
  `role` varchar(20) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `owner_id` char(32) DEFAULT NULL,
  `vendor_id` bigint DEFAULT NULL,
  `is_maintenance` tinyint(1) NOT NULL,
  `retire` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_turf_owner_id_70ef4d62_fk_core_appuser_id` (`owner_id`),
  KEY `core_turf_vendor_id_430203c9_fk_core_vendor_id` (`vendor_id`),
  CONSTRAINT `core_turf_owner_id_70ef4d62_fk_core_appuser_id` FOREIGN KEY (`owner_id`) REFERENCES `core_appuser` (`id`),
  CONSTRAINT `core_turf_vendor_id_430203c9_fk_core_vendor_id` FOREIGN KEY (`vendor_id`) REFERENCES `core_vendor` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_turf`
--

LOCK TABLES `core_turf` WRITE;
/*!40000 ALTER TABLE `core_turf` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_turf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_turfbanner`
--

DROP TABLE IF EXISTS `core_turfbanner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_turfbanner` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image` varchar(100) NOT NULL,
  `turf_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_turfbanner_turf_id_549fa821_fk_core_turf_id` (`turf_id`),
  CONSTRAINT `core_turfbanner_turf_id_549fa821_fk_core_turf_id` FOREIGN KEY (`turf_id`) REFERENCES `core_turf` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_turfbanner`
--

LOCK TABLES `core_turfbanner` WRITE;
/*!40000 ALTER TABLE `core_turfbanner` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_turfbanner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_turfgallery`
--

DROP TABLE IF EXISTS `core_turfgallery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_turfgallery` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image` varchar(100) NOT NULL,
  `turf_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_turfgallery_turf_id_94efd6cf_fk_core_turf_id` (`turf_id`),
  CONSTRAINT `core_turfgallery_turf_id_94efd6cf_fk_core_turf_id` FOREIGN KEY (`turf_id`) REFERENCES `core_turf` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_turfgallery`
--

LOCK TABLES `core_turfgallery` WRITE;
/*!40000 ALTER TABLE `core_turfgallery` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_turfgallery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_userissue`
--

DROP TABLE IF EXISTS `core_userissue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_userissue` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(15) NOT NULL,
  `title` varchar(200) NOT NULL,
  `description` longtext NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `resolved_at` datetime(6) DEFAULT NULL,
  `user_id` char(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `core_userissue_user_id_4446f3ba_fk_core_appuser_id` (`user_id`),
  CONSTRAINT `core_userissue_user_id_4446f3ba_fk_core_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_appuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_userissue`
--

LOCK TABLES `core_userissue` WRITE;
/*!40000 ALTER TABLE `core_userissue` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_userissue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_vendor`
--

DROP TABLE IF EXISTS `core_vendor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_vendor` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `venuename` varchar(200) NOT NULL,
  `ownername` varchar(200) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(15) NOT NULL,
  `location` varchar(100) NOT NULL,
  `address` longtext NOT NULL,
  `pincode` varchar(10) NOT NULL,
  `totalturf` int NOT NULL,
  `availablegames` json NOT NULL,
  `vendor_id` varchar(20) NOT NULL,
  `status` varchar(20) NOT NULL,
  `vendor_password` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `vendor_id` (`vendor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_vendor`
--

LOCK TABLES `core_vendor` WRITE;
/*!40000 ALTER TABLE `core_vendor` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_vendor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` char(32) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_core_appuser_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_core_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `core_appuser` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
INSERT INTO `django_admin_log` VALUES (1,'2026-05-19 06:05:29.836680','688399dc-dfe2-4440-9473-c260e83a7418','admin@gmail.com',2,'[{\"changed\": {\"fields\": [\"Mobile\"]}}]',14,'688399dcdfe244409473c260e83a7418'),(2,'2026-05-19 06:08:26.620507','688399dc-dfe2-4440-9473-c260e83a7418','admin@gmail.com',2,'[]',14,'688399dcdfe244409473c260e83a7418');
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('kc5rhpg5n1tfsdzpka1x7afp3weojije','.eJxVzDsOwjAQRdG9uCaWMx7_KOlZQzT2jEkAJVI-FWLvECkF1O-e91IdbWvfbYvM3cDqrHyMNiUuDVeBBhFNkzDYpoA3Ei0FbKM6_bJM5SHjbvlO423SZRrXech6T_SxLvo6sTwvR_t30NPSf7V4AZZQsCB6V0UyVmwdOwhAYhDEsuMinitYTi7UkC2JmAqGYiL1_gCteUGO:1wPDNW:159ETNlZjG6s6o4UsglAes_OCdM7QlBM3G6Q0Ao-lT4','2026-06-02 05:52:30.825847');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-16 14:53:30
